################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/WpfUpdate/obj
/WpfUpdate/bin/Debug/net5.0-windows
/WpfMainApp/obj
/WpfMainApp/bin/Debug/net5.0-windows
/Demo/bin/Debug/net5.0
/Demo/obj
*.user
/Demo/bin/Release/net5.0
/update.zip
